<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105621263118-elmnj0pg2ngjttcnc8qb0ef1hn6mgd9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105621263118-elmnj0pg2ngjttcnc8qb0ef1hn6mgd9n</string>
	<key>API_KEY</key>
	<string>AIzaSyCpD8ewrzZ6UM6LgQdTfTNJ4qtW-HiS_yM</string>
	<key>GCM_SENDER_ID</key>
	<string>105621263118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jenyoum.spillb</string>
	<key>PROJECT_ID</key>
	<string>spillb</string>
	<key>STORAGE_BUCKET</key>
	<string>spillb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105621263118:ios:9208697899de4f2614fd5f</string>
	<key>DATABASE_URL</key>
	<string>https://spillb.firebaseio.com</string>
</dict>
</plist>